In [1]:
import pandas as pd
from sklearn import datasets

In [2]:
boston = datasets.load_boston()

In [3]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
df = pd.DataFrame(boston.data, columns = boston.feature_names)
df['Target'] = boston.target

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Target
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [7]:
df.shape

(506, 14)

In [8]:
X = df.drop('Target',axis = 1)
y = df['Target']

In [9]:
X.shape

(506, 13)

In [10]:
y.shape

(506,)

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.4,random_state = 21)

In [12]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()

In [13]:
knr.fit(X_train,y_train)
y_pred = knr.predict(X_test)

In [14]:
from sklearn.metrics import mean_squared_error, r2_score

In [15]:
mse = mean_squared_error(y_pred,y_test)
r2 = r2_score(y_pred,y_test)
print(mse,r2)

48.17655369458129 0.13548080803987472

In [16]:
for i in range(1,12):
    #print(i)
    knr = KNeighborsRegressor(i)
    knr.fit(X_train,y_train)
    y_pred = knr.predict(X_test)
    #acc = accuracy_score(y_pred,y_test)
    mse = mean_squared_error(y_pred,y_test)
    r2 = r2_score(y_pred,y_test)
    #print(acc, f1)
    print('The mse is {} and r2_score is {} for {} neighbors'.format(mse, r2,i))
    print('************************************************************************************************')

The mse is 49.962758620689655 and r2_score is 0.5007419318820939 for 1 neighbors
************************************************************************************************
The mse is 48.42942118226601 and r2_score is 0.41954803864837875 for 2 neighbors
************************************************************************************************
The mse is 51.28169677066229 and r2_score is 0.2740288455120026 for 3 neighbors
************************************************************************************************
The mse is 48.93740455665025 and r2_score is 0.2340779241698886 for 4 neighbors
************************************************************************************************
The mse is 48.17655369458129 and r2_score is 0.13548080803987472 for 5 neighbors
************************************************************************************************
The mse is 49.275730706075535 and r2_score is 0.010463308941066618 for 6 neighbors
************************************************************************************************
The mse is 49.6981351161154 and r2_score is -0.06238637835818128 for 7 neighbors
************************************************************************************************
The mse is 49.76752847906404 and r2_score is -0.11509976239365383 for 8 neighbors
************************************************************************************************
The mse is 51.34064343489631 and r2_score is -0.2094419988447822 for 9 neighbors
************************************************************************************************
The mse is 50.41656600985222 and r2_score is -0.2417363151795353 for 10 neighbors
************************************************************************************************
The mse is 51.65988967145707 and r2_score is -0.33263376695492597 for 11 neighbors
************************************************************************************************